<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>table test</title>
    <style>
        .styled-table {
            border-collapse: collapse;
            margin: 25px 0;
            font-size: 0.9em;
            font-family: sans-serif;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
            width: 80%;

        }

        .styled-table thead tr {
            background-color: #009879;
            color: #ffffff;
            text-align: left;
        }

        .styled-table th,
        .styled-table td {
            padding: 12px 15px;
        }

        .styled-table tbody tr {
            border-bottom: 1px solid #dddddd;
        }

        .styled-table tbody tr:nth-of-type(even) {
            background-color: #f3f3f3;
        }

        .styled-table tbody tr:last-of-type {
            border-bottom: 2px solid #009879;
        }

        .styled-table tbody tr.active-row {
            font-weight: bold;
            color: #009879;
        }
    </style>
    <style>
        h1 { color: #7c795d; font-family: 'Trocchi', serif; font-size: 45px; font-weight: normal; line-height: 48px; margin: 0; }
    </style>
</head>
<body>
<h1>文件对比详细</h1>
<table class="styled-table">
    <thead>
        <tr>
            <th>文件名称</th>
            <th>差异行数</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            
                    <tr>
                    <td><a href="/main?f=_Users_dengricky_de_source_nginx_10.0.0.1__Users_dengricky_de_destination_nginx_10.0.0.1_20210612_181013/uwsgi_params.default.html">/Users/dengricky/de/source/nginx/10.0.0.1/uwsgi_params.default</a></td>
                    <td>0</td>
                    </tr>
            
                    <tr>
                    <td><a href="/main?f=_Users_dengricky_de_source_nginx_10.0.0.1__Users_dengricky_de_destination_nginx_10.0.0.1_20210612_181013/apiserver-kubelet-client.key.html">/Users/dengricky/de/source/nginx/10.0.0.1/apiserver-kubelet-client.key</a></td>
                    <td>0</td>
                    </tr>
            
                    <tr>
                    <td><a href="/main?f=_Users_dengricky_de_source_nginx_10.0.0.1__Users_dengricky_de_destination_nginx_10.0.0.1_20210612_181013/nginx.conf.default.html">/Users/dengricky/de/source/nginx/10.0.0.1/nginx.conf.default</a></td>
                    <td>0</td>
                    </tr>
            
                    <tr>
                    <td><a href="/main?f=_Users_dengricky_de_source_nginx_10.0.0.1__Users_dengricky_de_destination_nginx_10.0.0.1_20210612_181013/front-proxy-ca.key.html">/Users/dengricky/de/source/nginx/10.0.0.1/front-proxy-ca.key</a></td>
                    <td>0</td>
                    </tr>
            
                    <tr>
                    <td><a href="/main?f=_Users_dengricky_de_source_nginx_10.0.0.1__Users_dengricky_de_destination_nginx_10.0.0.1_20210612_181013/scgi_params.default.html">/Users/dengricky/de/source/nginx/10.0.0.1/scgi_params.default</a></td>
                    <td>0</td>
                    </tr>
            
                    <tr>
                    <td><a href="/main?f=_Users_dengricky_de_source_nginx_10.0.0.1__Users_dengricky_de_destination_nginx_10.0.0.1_20210612_181013/sv.pem.html">/Users/dengricky/de/source/nginx/10.0.0.1/sv.pem</a></td>
                    <td>0</td>
                    </tr>
            
                    <tr>
                    <td><a href="/main?f=_Users_dengricky_de_source_nginx_10.0.0.1__Users_dengricky_de_destination_nginx_10.0.0.1_20210612_181013/sv.key.html">/Users/dengricky/de/source/nginx/10.0.0.1/sv.key</a></td>
                    <td>0</td>
                    </tr>
            
                    <tr>
                    <td><a href="/main?f=_Users_dengricky_de_source_nginx_10.0.0.1__Users_dengricky_de_destination_nginx_10.0.0.1_20210612_181013/etcd_ca.key.html">/Users/dengricky/de/source/nginx/10.0.0.1/etcd_ca.key</a></td>
                    <td>0</td>
                    </tr>
            
                    <tr>
                    <td><a href="/main?f=_Users_dengricky_de_source_nginx_10.0.0.1__Users_dengricky_de_destination_nginx_10.0.0.1_20210612_181013/scgi_params.html">/Users/dengricky/de/source/nginx/10.0.0.1/scgi_params</a></td>
                    <td>0</td>
                    </tr>
            
                    <tr>
                    <td><a href="/main?f=_Users_dengricky_de_source_nginx_10.0.0.1__Users_dengricky_de_destination_nginx_10.0.0.1_20210612_181013/koi-win.html">/Users/dengricky/de/source/nginx/10.0.0.1/koi-win</a></td>
                    <td>0</td>
                    </tr>
            
                    <tr>
                    <td><a href="/main?f=_Users_dengricky_de_source_nginx_10.0.0.1__Users_dengricky_de_destination_nginx_10.0.0.1_20210612_181013/mime.types.default.html">/Users/dengricky/de/source/nginx/10.0.0.1/mime.types.default</a></td>
                    <td>0</td>
                    </tr>
            
                    <tr>
                    <td><a href="/main?f=_Users_dengricky_de_source_nginx_10.0.0.1__Users_dengricky_de_destination_nginx_10.0.0.1_20210612_181013/fastcgi_params.html">/Users/dengricky/de/source/nginx/10.0.0.1/fastcgi_params</a></td>
                    <td>0</td>
                    </tr>
            
                    <tr>
                    <td><a href="/main?f=_Users_dengricky_de_source_nginx_10.0.0.1__Users_dengricky_de_destination_nginx_10.0.0.1_20210612_181013/mime.types.html">/Users/dengricky/de/source/nginx/10.0.0.1/mime.types</a></td>
                    <td>0</td>
                    </tr>
            
                    <tr>
                    <td><a href="/main?f=_Users_dengricky_de_source_nginx_10.0.0.1__Users_dengricky_de_destination_nginx_10.0.0.1_20210612_181013/apiserver.key.html">/Users/dengricky/de/source/nginx/10.0.0.1/apiserver.key</a></td>
                    <td>0</td>
                    </tr>
            
                    <tr>
                    <td><a href="/main?f=_Users_dengricky_de_source_nginx_10.0.0.1__Users_dengricky_de_destination_nginx_10.0.0.1_20210612_181013/server.pem.html">/Users/dengricky/de/source/nginx/10.0.0.1/server.pem</a></td>
                    <td>0</td>
                    </tr>
            
                    <tr>
                    <td><a href="/main?f=_Users_dengricky_de_source_nginx_10.0.0.1__Users_dengricky_de_destination_nginx_10.0.0.1_20210612_181013/fastcgi_params.default.html">/Users/dengricky/de/source/nginx/10.0.0.1/fastcgi_params.default</a></td>
                    <td>0</td>
                    </tr>
            
                    <tr>
                    <td><a href="/main?f=_Users_dengricky_de_source_nginx_10.0.0.1__Users_dengricky_de_destination_nginx_10.0.0.1_20210612_181013/test.conf.html">/Users/dengricky/de/source/nginx/10.0.0.1/servers/test.conf</a></td>
                    <td>0</td>
                    </tr>
            
                    <tr>
                    <td><a href="/main?f=_Users_dengricky_de_source_nginx_10.0.0.1__Users_dengricky_de_destination_nginx_10.0.0.1_20210612_181013/fastcgi.conf.html">/Users/dengricky/de/source/nginx/10.0.0.1/fastcgi.conf</a></td>
                    <td>0</td>
                    </tr>
            
                    <tr>
                    <td><a href="/main?f=_Users_dengricky_de_source_nginx_10.0.0.1__Users_dengricky_de_destination_nginx_10.0.0.1_20210612_181013/server-key.pem.html">/Users/dengricky/de/source/nginx/10.0.0.1/server-key.pem</a></td>
                    <td>0</td>
                    </tr>
            
                    <tr>
                    <td><a href="/main?f=_Users_dengricky_de_source_nginx_10.0.0.1__Users_dengricky_de_destination_nginx_10.0.0.1_20210612_181013/sub-key.pem.html">/Users/dengricky/de/source/nginx/10.0.0.1/sub-key.pem</a></td>
                    <td>0</td>
                    </tr>
            
                    <tr>
                    <td><a href="/main?f=_Users_dengricky_de_source_nginx_10.0.0.1__Users_dengricky_de_destination_nginx_10.0.0.1_20210612_181013/ca.pem.html">/Users/dengricky/de/source/nginx/10.0.0.1/k8s/ca.pem</a></td>
                    <td>0</td>
                    </tr>
            
                    <tr>
                    <td><a href="/main?f=_Users_dengricky_de_source_nginx_10.0.0.1__Users_dengricky_de_destination_nginx_10.0.0.1_20210612_181013/test.key.html">/Users/dengricky/de/source/nginx/10.0.0.1/test.key</a></td>
                    <td>0</td>
                    </tr>
            
                    <tr>
                    <td><a href="/main?f=_Users_dengricky_de_source_nginx_10.0.0.1__Users_dengricky_de_destination_nginx_10.0.0.1_20210612_181013/fastcgi.conf.default.html">/Users/dengricky/de/source/nginx/10.0.0.1/fastcgi.conf.default</a></td>
                    <td>0</td>
                    </tr>
            
                    <tr>
                    <td><a href="/main?f=_Users_dengricky_de_source_nginx_10.0.0.1__Users_dengricky_de_destination_nginx_10.0.0.1_20210612_181013/uwsgi_params.html">/Users/dengricky/de/source/nginx/10.0.0.1/uwsgi_params</a></td>
                    <td>0</td>
                    </tr>
            
                    <tr>
                    <td><a href="/main?f=_Users_dengricky_de_source_nginx_10.0.0.1__Users_dengricky_de_destination_nginx_10.0.0.1_20210612_181013/etcd_ca.crt.html">/Users/dengricky/de/source/nginx/10.0.0.1/etcd_ca.crt</a></td>
                    <td>0</td>
                    </tr>
            
                    <tr>
                    <td><a href="/main?f=_Users_dengricky_de_source_nginx_10.0.0.1__Users_dengricky_de_destination_nginx_10.0.0.1_20210612_181013/koi-utf.html">/Users/dengricky/de/source/nginx/10.0.0.1/koi-utf</a></td>
                    <td>0</td>
                    </tr>
            
                    <tr>
                    <td><a href="/main?f=_Users_dengricky_de_source_nginx_10.0.0.1__Users_dengricky_de_destination_nginx_10.0.0.1_20210612_181013/ca.crt.html">/Users/dengricky/de/source/nginx/10.0.0.1/ca.crt</a></td>
                    <td>0</td>
                    </tr>
            
                    <tr>
                    <td><a href="/main?f=_Users_dengricky_de_source_nginx_10.0.0.1__Users_dengricky_de_destination_nginx_10.0.0.1_20210612_181013/apiserver-kubelet-client.crt.html">/Users/dengricky/de/source/nginx/10.0.0.1/apiserver-kubelet-client.crt</a></td>
                    <td>0</td>
                    </tr>
            
                    <tr>
                    <td><a href="/main?f=_Users_dengricky_de_source_nginx_10.0.0.1__Users_dengricky_de_destination_nginx_10.0.0.1_20210612_181013/test.pem.html">/Users/dengricky/de/source/nginx/10.0.0.1/test.pem</a></td>
                    <td>0</td>
                    </tr>
            
                    <tr>
                    <td><a href="/main?f=_Users_dengricky_de_source_nginx_10.0.0.1__Users_dengricky_de_destination_nginx_10.0.0.1_20210612_181013/k8s.conf.html">/Users/dengricky/de/source/nginx/10.0.0.1/conf_bak/k8s.conf</a></td>
                    <td>0</td>
                    </tr>
            
                    <tr>
                    <td><a href="/main?f=_Users_dengricky_de_source_nginx_10.0.0.1__Users_dengricky_de_destination_nginx_10.0.0.1_20210612_181013/sub.pem.html">/Users/dengricky/de/source/nginx/10.0.0.1/sub.pem</a></td>
                    <td>0</td>
                    </tr>
            
                    <tr>
                    <td><a href="/main?f=_Users_dengricky_de_source_nginx_10.0.0.1__Users_dengricky_de_destination_nginx_10.0.0.1_20210612_181013/ca.key.html">/Users/dengricky/de/source/nginx/10.0.0.1/ca.key</a></td>
                    <td>0</td>
                    </tr>
            
                    <tr>
                    <td><a href="/main?f=_Users_dengricky_de_source_nginx_10.0.0.1__Users_dengricky_de_destination_nginx_10.0.0.1_20210612_181013/test.conf.bak.html">/Users/dengricky/de/source/nginx/10.0.0.1/servers/test.conf.bak</a></td>
                    <td>0</td>
                    </tr>
            
                    <tr>
                    <td><a href="/main?f=_Users_dengricky_de_source_nginx_10.0.0.1__Users_dengricky_de_destination_nginx_10.0.0.1_20210612_181013/nginx.conf.html">/Users/dengricky/de/source/nginx/10.0.0.1/nginx.conf</a></td>
                    <td>19</td>
                    </tr>
            
                    <tr>
                    <td><a href="/main?f=_Users_dengricky_de_source_nginx_10.0.0.1__Users_dengricky_de_destination_nginx_10.0.0.1_20210612_181013/front-proxy-ca.crt.html">/Users/dengricky/de/source/nginx/10.0.0.1/front-proxy-ca.crt</a></td>
                    <td>0</td>
                    </tr>
            
                    <tr>
                    <td><a href="/main?f=_Users_dengricky_de_source_nginx_10.0.0.1__Users_dengricky_de_destination_nginx_10.0.0.1_20210612_181013/apiserver.crt.html">/Users/dengricky/de/source/nginx/10.0.0.1/apiserver.crt</a></td>
                    <td>0</td>
                    </tr>
            
                    <tr>
                    <td><a href="/main?f=_Users_dengricky_de_source_nginx_10.0.0.1__Users_dengricky_de_destination_nginx_10.0.0.1_20210612_181013/win-utf.html">/Users/dengricky/de/source/nginx/10.0.0.1/win-utf</a></td>
                    <td>0</td>
                    </tr>
            
                    <tr>
                    <td><a href="/main?f=_Users_dengricky_de_source_nginx_10.0.0.1__Users_dengricky_de_destination_nginx_10.0.0.1_20210612_181013/test_https.conf.bak.html">/Users/dengricky/de/source/nginx/10.0.0.1/servers/test_https.conf.bak</a></td>
                    <td>0</td>
                    </tr>
            
        </tr>

        <!--
        <tr class="active-row">
            <td>Melissa</td>
            <td>5150</td>
        </tr>
        !-->
    </tbody>
</table>
<br>
<br>
<hr>


<h1>只在 git 的文件</h1>
<table class="styled-table">
    <thead>
        <tr>
            <th>文件名称</th>
        </tr>
    </thead>
    <tbody>
        
            
                <tr>
                    <td><a href="/main?f=_Users_dengricky_de_source_nginx_10.0.0.1__Users_dengricky_de_destination_nginx_10.0.0.1_20210612_181013/README.md">/Users/dengricky/de/source/nginx/10.0.0.1/README.md</a></td>
                </tr>
            
                <tr>
                    <td><a href="/main?f=_Users_dengricky_de_source_nginx_10.0.0.1__Users_dengricky_de_destination_nginx_10.0.0.1_20210612_181013/aaa">/Users/dengricky/de/source/nginx/10.0.0.1/aaa</a></td>
                </tr>
            
                <tr>
                    <td><a href="/main?f=_Users_dengricky_de_source_nginx_10.0.0.1__Users_dengricky_de_destination_nginx_10.0.0.1_20210612_181013/xxx.txt">/Users/dengricky/de/source/nginx/10.0.0.1/xxx.txt</a></td>
                </tr>
            
        
    </tbody>
</table>
<br>
<br>
<hr>


<h1>只在 remote 的文件</h1>
<table class="styled-table">
    <thead>
        <tr>
            <th>文件名称</th>
        </tr>
    </thead>
    <tbody>
        
            
                <tr>
                   <td><a href="/main?f=_Users_dengricky_de_source_nginx_10.0.0.1__Users_dengricky_de_destination_nginx_10.0.0.1_20210612_181013/abc">/Users/dengricky/de/destination/nginx/10.0.0.1/abc</a></td>
                </tr>
            
        
    </tbody>
</table>

</body>
</html>