
<!DOCTYPE html>
<html class="no-js">
    <head>
        <!-- 
          html_title:    browser tab title
          reset_css:     relative path to reset css file
          pygments_css:  relative path to pygments css file
          diff_css:      relative path to diff layout css file
          page_title:    title shown at the top of the page. This should be the filename of the files being diff'd
          original_code: full html contents of original file
          modified_code: full html contents of modified file
          jquery_js:     path to jquery.min.js
          diff_js:       path to diff.js
        -->
        <meta charset="utf-8">
        <title>
            /Users/dengricky/de/source/nginx/10.0.0.1/test.pem VS /Users/dengricky/de/destination/nginx/10.0.0.1/test.pem
        </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="mobile-web-app-capable" content="yes">
        <link rel="stylesheet" href="/static/reset.css" type="text/css">
        <link rel="stylesheet" href="/static/diff.css" type="text/css">
        <link class="syntaxdef" rel="stylesheet" href="/static/codeformats/vs.css" type="text/css">
    </head>
    <body>
        <div class="" id="topbar">
          <div id="filetitle"> 
            /Users/dengricky/de/source/nginx/10.0.0.1/test.pem VS /Users/dengricky/de/destination/nginx/10.0.0.1/test.pem
          </div>
          <div class="switches">
            <div class="switch">
              <input id="showoriginal" class="toggle toggle-yes-no menuoption" type="checkbox" checked>
              <label for="showoriginal" data-on="&#10004; /Users/dengricky/de/source/nginx/10.0.0.1/test.pem" data-off="/Users/dengricky/de/source/nginx/10.0.0.1/test.pem"></label>
            </div>
            <div class="switch">
              <input id="showmodified" class="toggle toggle-yes-no menuoption" type="checkbox" checked>
              <label for="showmodified" data-on="&#10004; /Users/dengricky/de/destination/nginx/10.0.0.1/test.pem" data-off="/Users/dengricky/de/destination/nginx/10.0.0.1/test.pem"></label>
            </div>
            <div class="switch">
              <input id="highlight" class="toggle toggle-yes-no menuoption" type="checkbox" checked>
              <label for="highlight" data-on="&#10004; Highlight" data-off="Highlight"></label>
            </div>
            <div class="switch">
              <input id="codeprintmargin" class="toggle toggle-yes-no menuoption" type="checkbox" checked>
              <label for="codeprintmargin" data-on="&#10004; Margin" data-off="Margin"></label>
            </div>
            <div class="switch">
              <input id="dosyntaxhighlight" class="toggle toggle-yes-no menuoption" type="checkbox" checked>
              <label for="dosyntaxhighlight" data-on="&#10004; Syntax" data-off="Syntax"></label>
            </div>
          </div>
        </div>
        <div id="maincontainer" class="page-full-width">
            <div id="leftcode" class="left-inner-shadow codebox divider-outside-bottom">
                <div class="codefiletab">
                    /Users/dengricky/de/source/nginx/10.0.0.1/test.pem 
                </div>
                <div class="printmargin">
                    01234567890123456789012345678901234567890123456789012345678901234567890123456789
                </div>
                <table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre><span class="lineno_q">1</span><span class="lineno_q">2</span><span class="lineno_q">3</span><span class="lineno_q">4</span><span class="lineno_q">5</span><span class="lineno_q">6</span><span class="lineno_q">7</span><span class="lineno_q">8</span><span class="lineno_q">9</span><span class="lineno_q">10</span><span class="lineno_q">11</span><span class="lineno_q">12</span><span class="lineno_q">13</span><span class="lineno_q">14</span><span class="lineno_q">15</span><span class="lineno_q">16</span></pre></div></td><td class="code"><pre>-----BEGIN CERTIFICATE-----
MIICgzCCAWsCCQDZ/Hkm5wWrtDANBgkqhkiG9w0BAQUFADAZMRcwFQYDVQQDEw5r
dWJlLWFwaXNlcnZlcjAeFw0yMTAzMTcxMTMzMzhaFw0yMTAzMTgxMTMzMzhaMHIx
CzAJBgNVBAYTAmNuMQswCQYDVQQIDAJiajELMAkGA1UEBwwCYmoxCzAJBgNVBAoM
AmNoMQswCQYDVQQLDAJpdDERMA8GA1UEAwwIdGVzdC5jb20xHDAaBgkqhkiG9w0B
CQEWDXRlc3RAdGVzdC5jb20wgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBANTZ
g4mquOEyQ8o7QUNomvGMTJp1D/puq8d4Afedw+MVzN6U2AsOjg/4mAbF19kw7OT8
VpuMRkCfJacSW6Ojd9SbY0PzgVDS/LtYcPNyTaqhNsIQxfNE0Xee20SQOPnS1GeH
LR/FQkwmXoLeuDtt5ulDdk6cp8t1vRaq/wnPYIx/AgMBAAEwDQYJKoZIhvcNAQEF
BQADggEBADj1+A+PPQl72H3VuKsG4KJgadX9Is0UtXNbHRYBdpEkn/AeFOn1opSE
lJ+SLn9je2cV43pid/G91zsxdGaLGQAMmPOQMxv5lU47OYHDHU9Q66k+XmJqTYzf
GtLXUL3+TEdp7TggIVr+/ChdPdrMTDFDnihXV5AVHde/8Yu5pbBxYUMdXFT4ed/n
QEqLaEtCeJH3iojrUMEAHdUjAiFw2vK1s13O0j7hZrqpr1cSNv85vNS++fxJ7RKz
wsdzkG2xXhNAiSDW91s1YPYO8efnzOj96pFbfIt809998tlGG5oFK/3XC6KaGwR2
hbmAWeA7CkZCb8uJ1JU2LGAyefGfYTc=
-----END CERTIFICATE-----

</pre></td></tr></table>
            </div>
            <div id="rightcode" class="left-inner-shadow codebox divider-outside-bottom">
                <div class="codefiletab">
                    /Users/dengricky/de/destination/nginx/10.0.0.1/test.pem 
                </div>
                <div class="printmargin">
                    01234567890123456789012345678901234567890123456789012345678901234567890123456789
                </div>
                <table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre><span class="lineno_q">1</span><span class="lineno_q">2</span><span class="lineno_q">3</span><span class="lineno_q">4</span><span class="lineno_q">5</span><span class="lineno_q">6</span><span class="lineno_q">7</span><span class="lineno_q">8</span><span class="lineno_q">9</span><span class="lineno_q">10</span><span class="lineno_q">11</span><span class="lineno_q">12</span><span class="lineno_q">13</span><span class="lineno_q">14</span><span class="lineno_q">15</span><span class="lineno_q">16</span></pre></div></td><td class="code"><pre>-----BEGIN CERTIFICATE-----
MIICgzCCAWsCCQDZ/Hkm5wWrtDANBgkqhkiG9w0BAQUFADAZMRcwFQYDVQQDEw5r
dWJlLWFwaXNlcnZlcjAeFw0yMTAzMTcxMTMzMzhaFw0yMTAzMTgxMTMzMzhaMHIx
CzAJBgNVBAYTAmNuMQswCQYDVQQIDAJiajELMAkGA1UEBwwCYmoxCzAJBgNVBAoM
AmNoMQswCQYDVQQLDAJpdDERMA8GA1UEAwwIdGVzdC5jb20xHDAaBgkqhkiG9w0B
CQEWDXRlc3RAdGVzdC5jb20wgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBANTZ
g4mquOEyQ8o7QUNomvGMTJp1D/puq8d4Afedw+MVzN6U2AsOjg/4mAbF19kw7OT8
VpuMRkCfJacSW6Ojd9SbY0PzgVDS/LtYcPNyTaqhNsIQxfNE0Xee20SQOPnS1GeH
LR/FQkwmXoLeuDtt5ulDdk6cp8t1vRaq/wnPYIx/AgMBAAEwDQYJKoZIhvcNAQEF
BQADggEBADj1+A+PPQl72H3VuKsG4KJgadX9Is0UtXNbHRYBdpEkn/AeFOn1opSE
lJ+SLn9je2cV43pid/G91zsxdGaLGQAMmPOQMxv5lU47OYHDHU9Q66k+XmJqTYzf
GtLXUL3+TEdp7TggIVr+/ChdPdrMTDFDnihXV5AVHde/8Yu5pbBxYUMdXFT4ed/n
QEqLaEtCeJH3iojrUMEAHdUjAiFw2vK1s13O0j7hZrqpr1cSNv85vNS++fxJ7RKz
wsdzkG2xXhNAiSDW91s1YPYO8efnzOj96pFbfIt809998tlGG5oFK/3XC6KaGwR2
hbmAWeA7CkZCb8uJ1JU2LGAyefGfYTc=
-----END CERTIFICATE-----

</pre></td></tr></table>
            </div>
        </div>
<script src="/static/jquery.min.js" type="text/javascript"></script>
<script src="/static/diff.js" type="text/javascript"></script>
    </body>
</html>
