
<!DOCTYPE html>
<html class="no-js">
    <head>
        <!-- 
          html_title:    browser tab title
          reset_css:     relative path to reset css file
          pygments_css:  relative path to pygments css file
          diff_css:      relative path to diff layout css file
          page_title:    title shown at the top of the page. This should be the filename of the files being diff'd
          original_code: full html contents of original file
          modified_code: full html contents of modified file
          jquery_js:     path to jquery.min.js
          diff_js:       path to diff.js
        -->
        <meta charset="utf-8">
        <title>
            /Users/dengricky/de/source/nginx/10.0.0.1/sv.key
        </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="mobile-web-app-capable" content="yes">
        <link rel="stylesheet" href="/static/reset.css" type="text/css">
        <link rel="stylesheet" href="/static/diff.css" type="text/css">
        <link class="syntaxdef" rel="stylesheet" href="/static/codeformats/vs.css" type="text/css">
    </head>
    <body>
        <div class="" id="topbar">
          <div id="filetitle">/Users/dengricky/de/source/nginx/10.0.0.1/sv.key</div>
          <div class="switches">
            <div class="switch">
              <input id="showoriginal" class="toggle toggle-yes-no menuoption" type="checkbox" checked>
              <label for="showoriginal" data-on="&#10004; left" data-off="/Users/dengricky/de/source/nginx/10.0.0.1/sv.key"></label>
            </div>
            <div class="switch">
              <input id="showmodified" class="toggle toggle-yes-no menuoption" type="checkbox" checked>
              <label for="showmodified" data-on="&#10004; right" data-off="/Users/dengricky/de/destination/nginx/10.0.0.1/sv.key"></label>
            </div>
            <div class="switch">
              <input id="highlight" class="toggle toggle-yes-no menuoption" type="checkbox" checked>
              <label for="highlight" data-on="&#10004; Highlight" data-off="Highlight"></label>
            </div>
            <div class="switch">
              <input id="codeprintmargin" class="toggle toggle-yes-no menuoption" type="checkbox" checked>
              <label for="codeprintmargin" data-on="&#10004; Margin" data-off="Margin"></label>
            </div>
            <div class="switch">
              <input id="dosyntaxhighlight" class="toggle toggle-yes-no menuoption" type="checkbox" checked>
              <label for="dosyntaxhighlight" data-on="&#10004; Syntax" data-off="Syntax"></label>
            </div>
          </div>
        </div>
        <div id="maincontainer" class="page-full-width">
            <div id="leftcode" class="left-inner-shadow codebox divider-outside-bottom">
                <div class="codefiletab">
                    /Users/dengricky/de/source/nginx/10.0.0.1/sv.key 
                </div>
                <div class="printmargin">
                    01234567890123456789012345678901234567890123456789012345678901234567890123456789
                </div>
                <table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre><span class="lineno_q">1</span><span class="lineno_q">2</span><span class="lineno_q">3</span><span class="lineno_q">4</span><span class="lineno_q">5</span><span class="lineno_q">6</span><span class="lineno_q">7</span><span class="lineno_q">8</span><span class="lineno_q">9</span><span class="lineno_q">10</span><span class="lineno_q">11</span><span class="lineno_q">12</span><span class="lineno_q">13</span><span class="lineno_q">14</span><span class="lineno_q">15</span></pre></div></td><td class="code"><pre>-----BEGIN RSA PRIVATE KEY-----
MIICWwIBAAKBgQC+o8e26UKbHC9vuPH22Rcncer7kWvcWxBJw0hnXNHJHMFVNZwW
4z4dayVyJaZnH1U4pzJk3jtqXc7CZBCEQLxvN/jayI8Mv6rOLAqaCwMnFJTKbqNm
oPQwh0BHsEW1B6F5KmbfbKBApL7ntqEG1kP348cD1sQgPcURBRUt3AUInQIDAQAB
AoGANGUXErJxV+gbMX2HIuzvbCvnBVUma92rUFqXn7DnB3sbt6uQRsoV3EgCdqja
XyVBatypAQgDFGzL0qll0LNqFjzcj1UVh/gZUqCCJfJmcMI5AtlnwvlQBT8WOqKv
Lui1vaODrdu1OlOxZWHHa308PFstKo7S32vtxfn/Dna35xECQQD5XZJ/m5PnLCxY
0sDTx9etigLlSxlqVSEvM4qFtbUNhWNO08l5EVujmGEQzaaMa62a+YRMAkH2uFlV
ishbGiibAkEAw7Y6Gw9e9I+I9IWV9Ac/IjotjLgIhaiTFJM5UNqt8Unft71dBhrG
ogrwHjmE8rI7917Xbwzvv3FuLj8tFQmbJwJAdEaUjBogYjfvyc8kCNxzjkD/Tqmx
BSsC2T6gRe7PqKldACGzHVfhsivYfvxVv75p6gyVCtg2p/OX/FJFUG2nJwJAaLkN
hoVHDh3v7se8YYOvKKVw0id3h+2YJh5RQQ6CnOYmq67MJAQX3YV0zveASE1PASLi
rC2D7DDKAD0V5nfpaQJAdYrOXBw/9b2uShQ+VEkDZl/5NyuFgpUvAfEKH49UPfV0
JM3R2wd+S9QK0hPnM2IE3L4YfZr9HbSPEKl9j4eLUg==
-----END RSA PRIVATE KEY-----

</pre></td></tr></table>
            </div>
            <div id="rightcode" class="left-inner-shadow codebox divider-outside-bottom">
                <div class="codefiletab">
                    /Users/dengricky/de/destination/nginx/10.0.0.1/sv.key 
                </div>
                <div class="printmargin">
                    01234567890123456789012345678901234567890123456789012345678901234567890123456789
                </div>
                <table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre><span class="lineno_q">1</span><span class="lineno_q">2</span><span class="lineno_q">3</span><span class="lineno_q">4</span><span class="lineno_q">5</span><span class="lineno_q">6</span><span class="lineno_q">7</span><span class="lineno_q">8</span><span class="lineno_q">9</span><span class="lineno_q">10</span><span class="lineno_q">11</span><span class="lineno_q">12</span><span class="lineno_q">13</span><span class="lineno_q">14</span><span class="lineno_q">15</span></pre></div></td><td class="code"><pre>-----BEGIN RSA PRIVATE KEY-----
MIICWwIBAAKBgQC+o8e26UKbHC9vuPH22Rcncer7kWvcWxBJw0hnXNHJHMFVNZwW
4z4dayVyJaZnH1U4pzJk3jtqXc7CZBCEQLxvN/jayI8Mv6rOLAqaCwMnFJTKbqNm
oPQwh0BHsEW1B6F5KmbfbKBApL7ntqEG1kP348cD1sQgPcURBRUt3AUInQIDAQAB
AoGANGUXErJxV+gbMX2HIuzvbCvnBVUma92rUFqXn7DnB3sbt6uQRsoV3EgCdqja
XyVBatypAQgDFGzL0qll0LNqFjzcj1UVh/gZUqCCJfJmcMI5AtlnwvlQBT8WOqKv
Lui1vaODrdu1OlOxZWHHa308PFstKo7S32vtxfn/Dna35xECQQD5XZJ/m5PnLCxY
0sDTx9etigLlSxlqVSEvM4qFtbUNhWNO08l5EVujmGEQzaaMa62a+YRMAkH2uFlV
ishbGiibAkEAw7Y6Gw9e9I+I9IWV9Ac/IjotjLgIhaiTFJM5UNqt8Unft71dBhrG
ogrwHjmE8rI7917Xbwzvv3FuLj8tFQmbJwJAdEaUjBogYjfvyc8kCNxzjkD/Tqmx
BSsC2T6gRe7PqKldACGzHVfhsivYfvxVv75p6gyVCtg2p/OX/FJFUG2nJwJAaLkN
hoVHDh3v7se8YYOvKKVw0id3h+2YJh5RQQ6CnOYmq67MJAQX3YV0zveASE1PASLi
rC2D7DDKAD0V5nfpaQJAdYrOXBw/9b2uShQ+VEkDZl/5NyuFgpUvAfEKH49UPfV0
JM3R2wd+S9QK0hPnM2IE3L4YfZr9HbSPEKl9j4eLUg==
-----END RSA PRIVATE KEY-----

</pre></td></tr></table>
            </div>
        </div>
<script src="/static/jquery.min.js" type="text/javascript"></script>
<script src="/static/diff.js" type="text/javascript"></script>
    </body>
</html>
