
<!DOCTYPE html>
<html class="no-js">
    <head>
        <!-- 
          html_title:    browser tab title
          reset_css:     relative path to reset css file
          pygments_css:  relative path to pygments css file
          diff_css:      relative path to diff layout css file
          page_title:    title shown at the top of the page. This should be the filename of the files being diff'd
          original_code: full html contents of original file
          modified_code: full html contents of modified file
          jquery_js:     path to jquery.min.js
          diff_js:       path to diff.js
        -->
        <meta charset="utf-8">
        <title>
            /Users/dengricky/de/source/nginx/10.0.0.1/sv.pem
        </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="mobile-web-app-capable" content="yes">
        <link rel="stylesheet" href="/static/reset.css" type="text/css">
        <link rel="stylesheet" href="/static/diff.css" type="text/css">
        <link class="syntaxdef" rel="stylesheet" href="/static/codeformats/vs.css" type="text/css">
    </head>
    <body>
        <div class="" id="topbar">
          <div id="filetitle">/Users/dengricky/de/source/nginx/10.0.0.1/sv.pem</div>
          <div class="switches">
            <div class="switch">
              <input id="showoriginal" class="toggle toggle-yes-no menuoption" type="checkbox" checked>
              <label for="showoriginal" data-on="&#10004; left" data-off="/Users/dengricky/de/source/nginx/10.0.0.1/sv.pem"></label>
            </div>
            <div class="switch">
              <input id="showmodified" class="toggle toggle-yes-no menuoption" type="checkbox" checked>
              <label for="showmodified" data-on="&#10004; right" data-off="/Users/dengricky/de/destination/nginx/10.0.0.1/sv.pem"></label>
            </div>
            <div class="switch">
              <input id="highlight" class="toggle toggle-yes-no menuoption" type="checkbox" checked>
              <label for="highlight" data-on="&#10004; Highlight" data-off="Highlight"></label>
            </div>
            <div class="switch">
              <input id="codeprintmargin" class="toggle toggle-yes-no menuoption" type="checkbox" checked>
              <label for="codeprintmargin" data-on="&#10004; Margin" data-off="Margin"></label>
            </div>
            <div class="switch">
              <input id="dosyntaxhighlight" class="toggle toggle-yes-no menuoption" type="checkbox" checked>
              <label for="dosyntaxhighlight" data-on="&#10004; Syntax" data-off="Syntax"></label>
            </div>
          </div>
        </div>
        <div id="maincontainer" class="page-full-width">
            <div id="leftcode" class="left-inner-shadow codebox divider-outside-bottom">
                <div class="codefiletab">
                    /Users/dengricky/de/source/nginx/10.0.0.1/sv.pem 
                </div>
                <div class="printmargin">
                    01234567890123456789012345678901234567890123456789012345678901234567890123456789
                </div>
                <table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre><span class="lineno_q">1</span><span class="lineno_q">2</span><span class="lineno_q">3</span><span class="lineno_q">4</span><span class="lineno_q">5</span><span class="lineno_q">6</span><span class="lineno_q">7</span><span class="lineno_q">8</span><span class="lineno_q">9</span><span class="lineno_q">10</span><span class="lineno_q">11</span><span class="lineno_q">12</span><span class="lineno_q">13</span><span class="lineno_q">14</span><span class="lineno_q">15</span><span class="lineno_q">16</span><span class="lineno_q">17</span><span class="lineno_q">18</span></pre></div></td><td class="code"><pre>-----BEGIN CERTIFICATE-----
MIIC3zCCAccCCQC2rEUJ9c9TjTANBgkqhkiG9w0BAQUFADBwMQswCQYDVQQGEwJD
TjELMAkGA1UECAwCQkoxCzAJBgNVBAcMAkJqMQwwCgYDVQQKDANjaHAxCzAJBgNV
BAsMAml0MRIwEAYDVQQDDAlsb2NhbGhvc3QxGDAWBgkqhkiG9w0BCQEWCWNhQGNh
LmNvbTAeFw0yMTAzMTcxMDA2NDNaFw0yMTAzMTgxMDA2NDNaMHcxCzAJBgNVBAYT
AkNOMQswCQYDVQQIDAJCSjELMAkGA1UEBwwCYmoxDDAKBgNVBAoMA2NoeDELMAkG
A1UECwwCaXQxETAPBgNVBAMMCHRlc3QuY29tMSAwHgYJKoZIhvcNAQkBFhFzZXJ2
ZXJAc2VydmVyLmNvbTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEAvqPHtulC
mxwvb7jx9tkXJ3Hq+5Fr3FsQScNIZ1zRyRzBVTWcFuM+HWslciWmZx9VOKcyZN47
al3OwmQQhEC8bzf42siPDL+qziwKmgsDJxSUym6jZqD0MIdAR7BFtQeheSpm32yg
QKS+57ahBtZD9+PHA9bEID3FEQUVLdwFCJ0CAwEAATANBgkqhkiG9w0BAQUFAAOC
AQEAxd3YOuimzff3nVT0GAAA+hljaKW5S6xANgZguBJ7Rv1fjVRw0+6+/0NQcL1X
scF2MpnxQNaQtWHYfCDMVOZv2FPR84QbCr0noQhwK4eQj6RVhiuPOsYS66q1hTFc
thHEdWmhdvhoFCYSntJhe3JUscLBHLbt6W80+qkB06ti5TgZiA/cfOd9KG7jku9n
lfUc4qLMO3R2jNaVsBORM1xj9qrMKshZ0cuGpiQlRaMyqQj4UQ9ZblRMaocWjzLM
3lWGGhR58/XFSdRfyCATrlaO7JtkZAPEFO6LrSea37H4P/y8rUTeu8R+1UJuDFkU
AW6pS+iQeMscyILynjc+q3tFQQ==
-----END CERTIFICATE-----

</pre></td></tr></table>
            </div>
            <div id="rightcode" class="left-inner-shadow codebox divider-outside-bottom">
                <div class="codefiletab">
                    /Users/dengricky/de/destination/nginx/10.0.0.1/sv.pem 
                </div>
                <div class="printmargin">
                    01234567890123456789012345678901234567890123456789012345678901234567890123456789
                </div>
                <table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre><span class="lineno_q">1</span><span class="lineno_q">2</span><span class="lineno_q">3</span><span class="lineno_q">4</span><span class="lineno_q">5</span><span class="lineno_q">6</span><span class="lineno_q">7</span><span class="lineno_q">8</span><span class="lineno_q">9</span><span class="lineno_q">10</span><span class="lineno_q">11</span><span class="lineno_q">12</span><span class="lineno_q">13</span><span class="lineno_q">14</span><span class="lineno_q">15</span><span class="lineno_q">16</span><span class="lineno_q">17</span><span class="lineno_q">18</span></pre></div></td><td class="code"><pre>-----BEGIN CERTIFICATE-----
MIIC3zCCAccCCQC2rEUJ9c9TjTANBgkqhkiG9w0BAQUFADBwMQswCQYDVQQGEwJD
TjELMAkGA1UECAwCQkoxCzAJBgNVBAcMAkJqMQwwCgYDVQQKDANjaHAxCzAJBgNV
BAsMAml0MRIwEAYDVQQDDAlsb2NhbGhvc3QxGDAWBgkqhkiG9w0BCQEWCWNhQGNh
LmNvbTAeFw0yMTAzMTcxMDA2NDNaFw0yMTAzMTgxMDA2NDNaMHcxCzAJBgNVBAYT
AkNOMQswCQYDVQQIDAJCSjELMAkGA1UEBwwCYmoxDDAKBgNVBAoMA2NoeDELMAkG
A1UECwwCaXQxETAPBgNVBAMMCHRlc3QuY29tMSAwHgYJKoZIhvcNAQkBFhFzZXJ2
ZXJAc2VydmVyLmNvbTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEAvqPHtulC
mxwvb7jx9tkXJ3Hq+5Fr3FsQScNIZ1zRyRzBVTWcFuM+HWslciWmZx9VOKcyZN47
al3OwmQQhEC8bzf42siPDL+qziwKmgsDJxSUym6jZqD0MIdAR7BFtQeheSpm32yg
QKS+57ahBtZD9+PHA9bEID3FEQUVLdwFCJ0CAwEAATANBgkqhkiG9w0BAQUFAAOC
AQEAxd3YOuimzff3nVT0GAAA+hljaKW5S6xANgZguBJ7Rv1fjVRw0+6+/0NQcL1X
scF2MpnxQNaQtWHYfCDMVOZv2FPR84QbCr0noQhwK4eQj6RVhiuPOsYS66q1hTFc
thHEdWmhdvhoFCYSntJhe3JUscLBHLbt6W80+qkB06ti5TgZiA/cfOd9KG7jku9n
lfUc4qLMO3R2jNaVsBORM1xj9qrMKshZ0cuGpiQlRaMyqQj4UQ9ZblRMaocWjzLM
3lWGGhR58/XFSdRfyCATrlaO7JtkZAPEFO6LrSea37H4P/y8rUTeu8R+1UJuDFkU
AW6pS+iQeMscyILynjc+q3tFQQ==
-----END CERTIFICATE-----

</pre></td></tr></table>
            </div>
        </div>
<script src="/static/jquery.min.js" type="text/javascript"></script>
<script src="/static/diff.js" type="text/javascript"></script>
    </body>
</html>
