
<!DOCTYPE html>
<html class="no-js">
    <head>
        <!-- 
          html_title:    browser tab title
          reset_css:     relative path to reset css file
          pygments_css:  relative path to pygments css file
          diff_css:      relative path to diff layout css file
          page_title:    title shown at the top of the page. This should be the filename of the files being diff'd
          original_code: full html contents of original file
          modified_code: full html contents of modified file
          jquery_js:     path to jquery.min.js
          diff_js:       path to diff.js
        -->
        <meta charset="utf-8">
        <title>
            /Users/dengricky/de/source/nginx/10.0.0.1/test.key
        </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="mobile-web-app-capable" content="yes">
        <link rel="stylesheet" href="/static/reset.css" type="text/css">
        <link rel="stylesheet" href="/static/diff.css" type="text/css">
        <link class="syntaxdef" rel="stylesheet" href="/static/codeformats/vs.css" type="text/css">
    </head>
    <body>
        <div class="" id="topbar">
          <div id="filetitle">/Users/dengricky/de/source/nginx/10.0.0.1/test.key</div>
          <div class="switches">
            <div class="switch">
              <input id="showoriginal" class="toggle toggle-yes-no menuoption" type="checkbox" checked>
              <label for="showoriginal" data-on="&#10004; left" data-off="/Users/dengricky/de/source/nginx/10.0.0.1/test.key"></label>
            </div>
            <div class="switch">
              <input id="showmodified" class="toggle toggle-yes-no menuoption" type="checkbox" checked>
              <label for="showmodified" data-on="&#10004; right" data-off="/Users/dengricky/de/destination/nginx/10.0.0.1/test.key"></label>
            </div>
            <div class="switch">
              <input id="highlight" class="toggle toggle-yes-no menuoption" type="checkbox" checked>
              <label for="highlight" data-on="&#10004; Highlight" data-off="Highlight"></label>
            </div>
            <div class="switch">
              <input id="codeprintmargin" class="toggle toggle-yes-no menuoption" type="checkbox" checked>
              <label for="codeprintmargin" data-on="&#10004; Margin" data-off="Margin"></label>
            </div>
            <div class="switch">
              <input id="dosyntaxhighlight" class="toggle toggle-yes-no menuoption" type="checkbox" checked>
              <label for="dosyntaxhighlight" data-on="&#10004; Syntax" data-off="Syntax"></label>
            </div>
          </div>
        </div>
        <div id="maincontainer" class="page-full-width">
            <div id="leftcode" class="left-inner-shadow codebox divider-outside-bottom">
                <div class="codefiletab">
                    /Users/dengricky/de/source/nginx/10.0.0.1/test.key 
                </div>
                <div class="printmargin">
                    01234567890123456789012345678901234567890123456789012345678901234567890123456789
                </div>
                <table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre><span class="lineno_q">1</span><span class="lineno_q">2</span><span class="lineno_q">3</span><span class="lineno_q">4</span><span class="lineno_q">5</span><span class="lineno_q">6</span><span class="lineno_q">7</span><span class="lineno_q">8</span><span class="lineno_q">9</span><span class="lineno_q">10</span><span class="lineno_q">11</span><span class="lineno_q">12</span><span class="lineno_q">13</span><span class="lineno_q">14</span><span class="lineno_q">15</span></pre></div></td><td class="code"><pre>-----BEGIN RSA PRIVATE KEY-----
MIICXgIBAAKBgQDU2YOJqrjhMkPKO0FDaJrxjEyadQ/6bqvHeAH3ncPjFczelNgL
Do4P+JgGxdfZMOzk/FabjEZAnyWnElujo3fUm2ND84FQ0vy7WHDzck2qoTbCEMXz
RNF3nttEkDj50tRnhy0fxUJMJl6C3rg7bebpQ3ZOnKfLdb0Wqv8Jz2CMfwIDAQAB
AoGAf36q49N3Wq0ZHhHQTehipz06xWpJX+Da1Gh2BTRjGar9RHYz0qutPLPTnHr1
iAteWusrlZC4pAywKRs9+Q75vzBfaZptBx9CZRX5c0BF7x5wkr8eB6a+gW6mpMAB
HPxDlhRcclg+u5pQ2sOrFkvznuyiZglqOHl6jBDv7Djz5wECQQDyDaXB1YoH8MgS
igwp1oUphysWhfQHmBZhmbLTPgmR093ZQ+M0G1wEhQCDpSYsWwdHTubaH/sYe2DA
RIYNrVUxAkEA4R0aw88jUL/biHsciauvlg0SQhVhwgJ+1qLy/hpQAO7jkbj8yMI5
X2GxYkm+qNTMVSXf/Nr2DzCqus9mvoRQrwJBAO2cNBFZXAx7cwuv9EzFxyaDB+su
R+WEiMP6qy7vAVnjzy3OlKS8DtJo9Z5Fanm0SirX64pIRqc7xjg3jBi1BKECQQC3
3ufvrA8yc6NDFRu4L22Z6E9Tftd8ekFT24ESoDdcq8NhUXHYIRxvlgInQAjlKftE
SU1s4QQ+YAfz0lgfoT+tAkEAmAkuEAojdOadu3u9aFLzGhuRNhCRl69QOphkB7Yw
PSstFWi9lCKeqFGTigL555r68laetP3mlyU1D9EJZWqUdQ==
-----END RSA PRIVATE KEY-----

</pre></td></tr></table>
            </div>
            <div id="rightcode" class="left-inner-shadow codebox divider-outside-bottom">
                <div class="codefiletab">
                    /Users/dengricky/de/destination/nginx/10.0.0.1/test.key 
                </div>
                <div class="printmargin">
                    01234567890123456789012345678901234567890123456789012345678901234567890123456789
                </div>
                <table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre><span class="lineno_q">1</span><span class="lineno_q">2</span><span class="lineno_q">3</span><span class="lineno_q">4</span><span class="lineno_q">5</span><span class="lineno_q">6</span><span class="lineno_q">7</span><span class="lineno_q">8</span><span class="lineno_q">9</span><span class="lineno_q">10</span><span class="lineno_q">11</span><span class="lineno_q">12</span><span class="lineno_q">13</span><span class="lineno_q">14</span><span class="lineno_q">15</span></pre></div></td><td class="code"><pre>-----BEGIN RSA PRIVATE KEY-----
MIICXgIBAAKBgQDU2YOJqrjhMkPKO0FDaJrxjEyadQ/6bqvHeAH3ncPjFczelNgL
Do4P+JgGxdfZMOzk/FabjEZAnyWnElujo3fUm2ND84FQ0vy7WHDzck2qoTbCEMXz
RNF3nttEkDj50tRnhy0fxUJMJl6C3rg7bebpQ3ZOnKfLdb0Wqv8Jz2CMfwIDAQAB
AoGAf36q49N3Wq0ZHhHQTehipz06xWpJX+Da1Gh2BTRjGar9RHYz0qutPLPTnHr1
iAteWusrlZC4pAywKRs9+Q75vzBfaZptBx9CZRX5c0BF7x5wkr8eB6a+gW6mpMAB
HPxDlhRcclg+u5pQ2sOrFkvznuyiZglqOHl6jBDv7Djz5wECQQDyDaXB1YoH8MgS
igwp1oUphysWhfQHmBZhmbLTPgmR093ZQ+M0G1wEhQCDpSYsWwdHTubaH/sYe2DA
RIYNrVUxAkEA4R0aw88jUL/biHsciauvlg0SQhVhwgJ+1qLy/hpQAO7jkbj8yMI5
X2GxYkm+qNTMVSXf/Nr2DzCqus9mvoRQrwJBAO2cNBFZXAx7cwuv9EzFxyaDB+su
R+WEiMP6qy7vAVnjzy3OlKS8DtJo9Z5Fanm0SirX64pIRqc7xjg3jBi1BKECQQC3
3ufvrA8yc6NDFRu4L22Z6E9Tftd8ekFT24ESoDdcq8NhUXHYIRxvlgInQAjlKftE
SU1s4QQ+YAfz0lgfoT+tAkEAmAkuEAojdOadu3u9aFLzGhuRNhCRl69QOphkB7Yw
PSstFWi9lCKeqFGTigL555r68laetP3mlyU1D9EJZWqUdQ==
-----END RSA PRIVATE KEY-----

</pre></td></tr></table>
            </div>
        </div>
<script src="/static/jquery.min.js" type="text/javascript"></script>
<script src="/static/diff.js" type="text/javascript"></script>
    </body>
</html>
